---
title: false
styles: true
---

// Background colours
$backgroundColour: #ffffff;
$codeBackgroundColour: #fafafa;
$featureBackgroundColour: #f9fafa;
$accentColour: #af6408;

// Text colours
$headingColour: #242e2b;
$bodyColour: #384743;
$linkColour: #af6408;
$hoverColour: #8a4f07;
$focusColour: #af7a08;
$captionColour: #a8adac;
$white: #ffffff;

// Typography
$bodytype: (
  font-family: "Source Serif Pro, Georgia, serif",
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) ;

$headingtype: (
  font-family: "Inter, Arial, sans",
  regular: 400,
  bold: 700,
  cap-height: 0.75
) ;

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68
) ;

// TIP: Load custom fonts in _config.yaml

@import "alembic";
